n8n-node-jsons/mcp-streamable-workflow/mcp-streamable-workflow.json
{
  "name": "mcp-streamable-workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "d4740571-7899-423f-aea6-34ff86209221",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -272,
        -64
      ],
      "webhookId": "47910acd-bb74-4636-b1e2-2540d0b170de",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant, who has access to mcp tools to perform user requested actions.\n\nUsing mcp tools and combined LLM to answer user request, \nuse one or multiple tools in needed sequence and respond.\nMake sure parameters are following user given sequence as its important during calculation. ie. make sure a and b is used in same sequence as given"
        }
      },
      "id": "abd725e9-fc28-4e34-8139-76b4ec66a4f2",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -80,
        16
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": "Qwen2.5:latest",
        "options": {}
      },
      "id": "09809e5c-3a83-4ce0-b3f0-55471332dfe8",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        192,
        272
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KLoaICSBpFR345xi",
          "name": "host.docker.internal"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:6789/mcp",
        "options": {}
      },
      "id": "87831057-7107-4ac4-96be-b45a4afec771",
      "name": "MCP Client",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        16,
        272
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"answer\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"answer\"]\n}"
      },
      "id": "4e3b5814-d8ef-4609-9827-4e1938bee457",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        640,
        128
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "7129c787-dd3e-4650-ae2b-71a0f0d79d8d",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        288,
        -112
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Original Request: {{ $input.first().json.chatInput }}\n\nTool Response: {{ $input.last().json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant, with help of Human: Original Request and Tool Response, prepare final response for display.\n\nPrepare final response as below JSON schema exact,\n{\n   \"answer\": \"response from tool\"\n}\n\nDO not include any other text or think tag"
        }
      },
      "id": "fa129518-ed56-46b0-a6e4-6124cb1e3af9",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        496,
        -112
      ],
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5403ba66-92d6-48e6-b875-ebec4ae550e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45c417bac78415cc82936bcd15e18b8c6e14faf1263d26de9f0ef5352823a723"
  },
  "id": "wb9UH1wpazf56rYs",
  "tags": []
}