demo-mcp-test-trigger.json
{
    "name": "MCP Crypto Server",
    "nodes": [
        {
            "parameters": {},
            "name": "Start",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "textToEncrypt",
                            "value": "zbox"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Set Input Text",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:6789/tools/encrypt",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"text\": \"{{ $json.textToEncrypt }}\"\n}",
                "options": {}
            },
            "name": "Encrypt",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:6789/tools/decrypt",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"encoded_text\": \"{{ $json.result }}\"\n}",
                "options": {}
            },
            "name": "Decrypt",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "Set Input Text",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Input Text": {
            "main": [
                [
                    {
                        "node": "Encrypt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Encrypt": {
            "main": [
                [
                    {
                        "node": "Decrypt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {}
}