mcp-test-trigger.json
{
  "name": "mcp-test-trigger",
  "nodes": [
    {
      "parameters": {},
      "id": "b3871ff3-2f6c-4c3b-b4a7-2ba992bf069a",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -528,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:6789/health",
        "options": {}
      },
      "id": "3d549637-e88b-4788-9ab0-37c58744ff3e",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        -64
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:6789/resources/tools",
        "options": {}
      },
      "id": "7a363d4f-a087-40fe-a61a-5344fb655e55",
      "name": "Get Available Tools",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        96
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:6789/tools/encrypt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.message || 'secret' }}\"\n}",
        "options": {}
      },
      "id": "afbaf77a-a34d-421b-a5bf-1bb53cf3f335",
      "name": "Encrypt Text",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        224
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:6789/tools/decrypt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"encoded_text\": \"{{ $json.encrypted_text }}\"\n}",
        "options": {}
      },
      "id": "04129173-6361-4c7f-8407-89160c529de2",
      "name": "Decrypt Text",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        208,
        192
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:6789/resources/version",
        "options": {}
      },
      "id": "a17179f0-ec0e-4e20-9d0b-58861a2cecca",
      "name": "Get Version",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        384
      ],
      "typeVersion": 4.1
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Available Tools",
            "type": "main",
            "index": 0
          },
          {
            "node": "Encrypt Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encrypt Text": {
      "main": [
        [
          {
            "node": "Decrypt Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63a49a7a-a0f5-4399-b1ef-fb312c58a926",
  "meta": {
    "instanceId": "45c417bac78415cc82936bcd15e18b8c6e14faf1263d26de9f0ef5352823a723"
  },
  "id": "Fd0gsUvJoYwoKsLA",
  "tags": []
}