nx-executor.json
{
  "name": "nx-executor",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "f1a562cd-2001-48b1-b8be-32ca55e986c6",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -544,
        240
      ],
      "webhookId": "5b8bdb78-a7fc-4121-8308-ce2aa7ad31c1",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "j3xELZGVtDjtKbBf",
          "cachedResultUrl": "/workflow/j3xELZGVtDjtKbBf",
          "cachedResultName": "nx-agent"
        },
        "workflowInputs": {
          "value": {
            "chatInput": "={{ $json.chatInput }}"
          },
          "schema": [
            {
              "id": "chatInput",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "chatInput",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "chatInput"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "5949441b-145d-44c7-9f25-095c19584aa9",
      "name": "Call nx-agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        -688,
        0
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1663be97-812c-4dbf-9748-8f75420ade67",
      "name": "nx-agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -144,
        0
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": "qwen3:14b",
        "options": {}
      },
      "id": "56e2b673-1b32-470b-8094-322c3e9acf3e",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -208,
        208
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KLoaICSBpFR345xi",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Fd0gsUvJoYwoKsLA",
          "mode": "list",
          "cachedResultUrl": "/workflow/Fd0gsUvJoYwoKsLA",
          "cachedResultName": "mcp-test-trigger"
        },
        "workflowInputs": {
          "value": {},
          "mappingMode": "defineBelow"
        }
      },
      "id": "dc132602-4579-4f2f-a234-0bc042475dc1",
      "name": "Call 'mcp-test-trigger'",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        16,
        208
      ],
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "connections": {
    "nx-agent": {
      "main": [
        []
      ]
    },
    "Call nx-agent": {
      "main": [
        [
          {
            "node": "nx-agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "nx-agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "nx-agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'mcp-test-trigger'": {
      "ai_tool": [
        [
          {
            "node": "nx-agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44e3c9e7-685f-4527-9e8f-9b9f22b61499",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45c417bac78415cc82936bcd15e18b8c6e14faf1263d26de9f0ef5352823a723"
  },
  "id": "oBPGHsRcHLzJcJei",
  "tags": []
}