docs/n8n-workflows/base64-encoder.json
{
  "name": "Base64 Encoder - MCP Server",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "encode-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b3c5d2f1-e8a7-4d9b-8c6e-1f2a3b4c5d6e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:9000/mcp/base64/encode",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.body.text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "id": "c4d5e6f7-g8h9-i0j1-k2l3-m4n5o6p7q8r9",
      "name": "MCP Base64 Encode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "d5e6f7g8-h9i0-j1k2-l3m4-n5o6p7q8r9s0",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "MCP Base64 Encode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Base64 Encode": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12345678-90ab-cdef-1234-567890abcdef",
  "id": "87654321-fedc-ba09-8765-4321fedcba09",
  "meta": {
    "instanceId": "abc123def456ghi789jkl012mno345pqr678stu901vwx234yz"
  },
  "tags": [
    {
      "createdAt": "2025-10-06T00:00:00.000Z",
      "updatedAt": "2025-10-06T00:00:00.000Z",
      "id": "1",
      "name": "MCP"
    },
    {
      "createdAt": "2025-10-06T00:00:00.000Z",
      "updatedAt": "2025-10-06T00:00:00.000Z",
      "id": "2",
      "name": "Base64"
    }
  ]
}