n8n-node-jsons/task-builder-workflow/task-builder-workflow.json
{
  "name": "task-builder-workflow",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "id": "722d3147-a7ea-4614-ba75-cb8dac9d4500",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -592,
        316
      ],
      "webhookId": "task-builder-chat-trigger",
      "typeVersion": 1.3,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Task Planning AI Agent. Break down user requests into actionable tasks.\n\nUse the MCP Client tool to discover available tools first, then create a task plan.\n\nAvailable MCP tools:\n- add: Add two numbers {\"a\": number, \"b\": number}\n- subtract: Subtract two numbers {\"a\": number, \"b\": number}\n- multiply: Multiply two numbers {\"a\": number, \"b\": number}\n- divide: Divide two numbers {\"a\": number, \"b\": number}\n- modulo: Modulo operation {\"a\": number, \"b\": number}\n- encrypt: Encode text to base64 {\"text\": string}\n- decrypt: Decode base64 to text {\"encoded_text\": string}\n- executeScript: Run Python script {\"script\": string}\n- listTools: List available tools {\"detailed\": boolean}\n\nIMPORTANT: You MUST respond with ONLY a valid JSON object in this exact format:\n\n{\n  \"tasks\": [\n    {\n      \"tool\": \"add\",\n      \"task_description\": \"Add 10 and 5\",\n      \"task_input\": {\n        \"a\": 10,\n        \"b\": 5\n      },\n      \"dependencies\": [],\n      \"task_id\": \"task_1\"\n    }\n  ]\n}\n\nRules:\n- Always include \"dependencies\" array (empty [] if no dependencies)\n- Use simple, unique task_id values like \"task_1\", \"task_2\"\n- task_input must be an object with the tool's required parameters (NO 'operation' parameter)\n- Use exact tool names from the list above\n- NO explanations, NO markdown, NO additional text - ONLY the JSON object"
        }
      },
      "id": "3f4c5694-583c-4135-9739-cf358dfa3d18",
      "name": "Task Planner Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -312,
        164
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"tasks\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"tool\": {\n            \"type\": \"string\"\n          },\n          \"task_description\": {\n            \"type\": \"string\"\n          },\n          \"task_input\": {\n            \"type\": \"object\",\n            \"additionalProperties\": true\n          },\n          \"dependencies\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"default\": []\n          },\n          \"task_id\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\"tool\", \"task_description\", \"task_input\", \"task_id\"],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"required\": [\"tasks\"],\n  \"additionalProperties\": false\n}"
      },
      "id": "a4bb1c83-ae00-467c-bdf6-bce13592f579",
      "name": "Task List Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -112,
        388
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "Qwen2.5:latest",
        "options": {
          "temperature": 0.1,
          "format": "json"
        }
      },
      "id": "1f549508-063e-4729-bdd7-d06d07681a76",
      "name": "Qwen2.5 Task Planner",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -368,
        388
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KLoaICSBpFR345xi",
          "name": "host.docker.internal"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract tasks and prepare for dependency resolution\nconst tasks = $input.item.json.output.tasks;\n\n// Create a task registry with status tracking\nconst taskRegistry = {};\nconst pendingTasks = [];\nconst completedTasks = [];\n\n// Initialize all tasks\nfor (const task of tasks) {\n  taskRegistry[task.task_id] = {\n    ...task,\n    status: 'pending',\n    output: null,\n    dependencies: task.dependencies || []\n  };\n  pendingTasks.push(task.task_id);\n}\n\n// Find tasks that can be executed immediately (no dependencies)\nconst readyTasks = [];\nfor (const taskId of pendingTasks) {\n  const task = taskRegistry[taskId];\n  if (task.dependencies.length === 0) {\n    readyTasks.push(task);\n  }\n}\n\nreturn {\n  taskRegistry,\n  pendingTasks,\n  completedTasks,\n  readyTasks,\n  currentBatch: 0,\n  totalTasks: tasks.length\n};"
      },
      "id": "9f2eb5ee-2987-4be5-81b7-9b11a60cafbb",
      "name": "Task Dependency Resolver",
      "type": "n8n-nodes-base.code",
      "position": [
        96,
        164
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "task-execution-condition",
              "leftValue": "={{ $json.readyTasks.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "422082cf-298a-44b2-87df-a766631bf604",
      "name": "Check Ready Tasks",
      "type": "n8n-nodes-base.if",
      "position": [
        320,
        164
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract ready tasks and create individual items for processing\nconst data = $input.item.json;\nconst readyTasks = data.readyTasks || [];\n\nif (readyTasks.length === 0) {\n  // No ready tasks, return the original data for final processing\n  return data;\n}\n\n// Get the first ready task to process\nconst currentTask = readyTasks[0];\n\n// Return the task data along with the original registry information\nreturn {\n  ...currentTask,\n  originalData: data\n};"
      },
      "id": "6010e1de-e8d5-49b6-8213-aa72963a1fcf",
      "name": "Process Ready Task",
      "type": "n8n-nodes-base.code",
      "position": [
        544,
        -100
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Execute the ready task using the appropriate MCP tool.\n\nReady Tasks:\n{{ JSON.stringify($json.originalData.readyTasks) }}\n\nReady Tasks:\n{{ JSON.stringify($json.originalData.readyTasks) }}\n\nCRITICAL INSTRUCTIONS:\n1. You MUST use the MCP Client Executor tool - this is NON-NEGOTIABLE\n2. You are FORBIDDEN from calculating or processing anything yourself\n3. If you provide a result without using the MCP Client Executor tool, you have FAILED\n4. The task_output MUST be the exact result returned by the MCP tool\n5. Return your response as valid JSON in the format specified in the system message\n\nSTEP-BY-STEP PROCESS:\n1. Call MCP Client Executor tool with the exact tool name from task.tool\n2. Pass the exact task.task_input as parameters\n3. Wait for the tool execution result\n4. Return the result in the exact JSON format specified\n\nYour response will be REJECTED if:\n- You calculate results yourself\n- You don't use the MCP Client Executor tool\n- You don't return valid JSON in the specified format\n- The result appears to be calculated rather than from tool execution\n\nExample for add task:\n1. Call MCP Client Executor with tool='add' and parameters from task_input\n2. Get the actual result from the tool\n3. Return JSON with that exact result object",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Task Execution AI Agent.\n\nYour ONLY job is to execute tasks using MCP tools. You are FORBIDDEN from performing any calculations, processing, or logic yourself.\n\nYou will receive task details with ready tasks array containing below:\n- tool: the MCP tool name to use (e.g., 'add', 'encrypt', 'decrypt')\n- task_description: what needs to be accomplished  \n- task_input: parameters for the tool\n- task_id: unique identifier\n\nMANDATORY EXECUTION STEPS (NO EXCEPTIONS):\n1. ALWAYS start by using the MCP Client Executor tool\n2. Call the exact tool specified in task.tool property\n3. Pass the exact task.task_input as parameters to the tool\n4. Wait for the actual tool execution result\n5. Use the result EXACTLY as returned by the tool\n6. Return the result in the exact format specified below\n\nFORBIDDEN ACTIONS:\n- NEVER calculate or process anything yourself\n- NEVER provide results without using tools\n- NEVER assume what the result should be\n- NEVER shortcut the tool execution process\n- NEVER use your own knowledge to provide answers\n\nVALIDATION REQUIREMENTS:\n- Every response MUST include evidence of actual tool usage\n- The task_output MUST be the exact result from the MCP tool\n- If you cannot use the tool, report \"failure\" status with error details\n\nRETURN FORMAT (MUST be valid JSON):\n{\n  \"task_description\": \"[copy original task_description]\",\n  \"task_input\": {[copy original task_input object]},\n  \"task_tool\": \"[tool name that was used]\",\n  \"task_output\": {[EXACT result object from MCP tool - NOT your calculation]},\n  \"task_status\": \"success\",\n  \"task_id\": \"[copy original task_id]\"\n}\n\nCRITICAL: You MUST return valid JSON in the exact format above. Do not use any other formatting.\n\nREMEMBER: If you provide any result without actually using the MCP Client Executor tool, you have FAILED your purpose."
        }
      },
      "id": "c7bce2b0-a0b3-4407-9b9d-6230a23e3c0d",
      "name": "Task Executor Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        824,
        -176
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:6789/mcp",
        "options": {}
      },
      "id": "da922641-ae36-4b37-a689-0202f46a63f3",
      "name": "MCP Client Executor",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        896,
        48
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"task_description\": {\"type\": \"string\"},\n    \"task_input\": {\"type\": \"object\"},\n    \"task_tool\": {\"type\": \"string\"},\n    \"task_output\": {\"type\": \"object\"},\n    \"task_status\": {\"type\": \"string\", \"enum\": [\"success\", \"failure\"]},\n    \"task_id\": {\"type\": \"string\"}\n  },\n  \"required\": [\"task_description\", \"task_input\", \"task_tool\", \"task_output\", \"task_status\", \"task_id\"]\n}"
      },
      "id": "ffd707f3-c956-4d37-a525-8b6ebdf1a651",
      "name": "Task Result Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1024,
        48
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "Qwen2.5:latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "540d3e46-142a-44a4-82b1-621019901745",
      "name": "Qwen2.5 Task Executor",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        768,
        48
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KLoaICSBpFR345xi",
          "name": "host.docker.internal"
        }
      }
    },
    {
      "parameters": {},
      "id": "81c4ac97-24b3-4735-a224-7d38a68f642f",
      "name": "Merge Task Results",
      "type": "n8n-nodes-base.merge",
      "position": [
        1232,
        -100
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Update task registry with completed task result\nconst taskResult = $input.first().json.output || $input.first().json;\nconst executedTask = $input.last().json;\n\n// Get the original data (task registry info) from the merged inputs\nconst originalData = executedTask.originalData;\n\n// Update the task registry\nconst taskRegistry = { ...originalData.taskRegistry };\nconst completedTasks = [...originalData.completedTasks];\nconst pendingTasks = [...originalData.pendingTasks];\n\n// Mark current task as completed\nif (taskRegistry[taskResult.task_id]) {\n  taskRegistry[taskResult.task_id].status = taskResult.task_status;\n  taskRegistry[taskResult.task_id].output = taskResult.task_output;\n  \n  if (taskResult.task_status === 'success') {\n    completedTasks.push(taskResult.task_id);\n    // Remove from pending\n    const pendingIndex = pendingTasks.indexOf(taskResult.task_id);\n    if (pendingIndex > -1) {\n      pendingTasks.splice(pendingIndex, 1);\n    }\n  }\n}\n\n// Find newly ready tasks (dependencies now satisfied)\nconst readyTasks = [];\nfor (const taskId of pendingTasks) {\n  const task = taskRegistry[taskId];\n  if (task.status === 'pending') {\n    // Check if all dependencies are completed\n    const allDependenciesMet = task.dependencies.every(depId => \n      completedTasks.includes(depId) && \n      taskRegistry[depId].status === 'success'\n    );\n    \n    if (allDependenciesMet) {\n      // Inject dependency outputs into task input\n      const enrichedTask = { ...task };\n      for (const depId of task.dependencies) {\n        const depOutput = taskRegistry[depId].output;\n        // Extract the result from the MCP tool output format\n        if (depOutput && depOutput.result !== undefined) {\n          enrichedTask.task_input = { text: depOutput.result };\n        } else {\n          enrichedTask.task_input = depOutput;\n        }\n      }\n      readyTasks.push(enrichedTask);\n    }\n  }\n}\n\nreturn {\n  taskRegistry,\n  pendingTasks,\n  completedTasks,\n  readyTasks,\n  currentBatch: (originalData.currentBatch || 0) + 1,\n  totalTasks: originalData.totalTasks,\n  lastTaskResult: taskResult\n};"
      },
      "id": "66d9fdcb-dcbb-472d-9e71-cd33b773ed2d",
      "name": "Update Task Registry",
      "type": "n8n-nodes-base.code",
      "position": [
        1456,
        -96
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "more-tasks-condition",
              "leftValue": "={{ $json.pendingTasks.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d893f217-ab93-418f-a86c-2f1d8037ca04",
      "name": "Check More Tasks",
      "type": "n8n-nodes-base.if",
      "position": [
        1680,
        -100
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Collect all completed task results for final response generation\nconst taskRegistry = $input.item.json.taskRegistry;\nconst completedTasks = $input.item.json.completedTasks;\n\nconst taskResults = [];\nfor (const taskId of completedTasks) {\n  const task = taskRegistry[taskId];\n  if (task && task.status === 'success') {\n    taskResults.push({\n      task_description: task.task_description,\n      task_input: task.task_input,\n      task_tool: task.tool,\n      task_output: task.output,\n      task_status: task.status,\n      task_id: taskId\n    });\n  }\n}\n\nreturn {\n  taskResults,\n  totalTasksCompleted: completedTasks.length,\n  allTasksCompleted: true\n};"
      },
      "id": "e83ce2aa-3d8a-417a-9fa8-ff2996af3760",
      "name": "Prepare Final Results",
      "type": "n8n-nodes-base.code",
      "position": [
        1904,
        -28
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Request: {{ $json.chatInput }}\n\nTask Execution Details: {{ JSON.stringify($json.taskResults) }}",
        "options": {
          "systemMessage": "You are a Response Synthesis AI Agent. Your role is to take all completed task results and create a comprehensive, coherent final response for the user.\n\nYou will receive an array of task results, each containing:\n- task_description: what the task accomplished\n- task_input: the input parameters used\n- task_tool: the tool that was used\n- task_output: the actual result/output\n- task_status: success/failure status\n- task_id: unique identifier\n\nYour job is to:\n1. Analyze all task results\n2. Synthesize the outputs into a coherent response\n3. Present the information in a user-friendly way\n4. Highlight key findings, results, or outcomes\n5. If there were any failed tasks, mention them appropriately\n\nPrepare final response summary."
        }
      },
      "id": "1ab12a42-cef0-4622-8db5-1dd5c2f13b5a",
      "name": "Response Synthesis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2384,
        240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"final_response\": {\"type\": \"string\"},\n    \"task_summary\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"total_tasks\": {\"type\": \"number\"},\n        \"successful_tasks\": {\"type\": \"number\"},\n        \"failed_tasks\": {\"type\": \"number\"}\n      }\n    },\n    \"key_results\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"}\n    }\n  },\n  \"required\": [\"final_response\", \"task_summary\"]\n}"
      },
      "id": "05d184ab-1343-4ce7-85de-b093591c910d",
      "name": "Final Response Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2656,
        544
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "Qwen2.5:latest",
        "options": {}
      },
      "id": "db4dd1c6-fa31-4afe-a9a3-447fc3580622",
      "name": "Qwen2.5 Response Synthesis",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        2368,
        560
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "KLoaICSBpFR345xi",
          "name": "host.docker.internal"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}\n",
        "waitUserReply": false,
        "options": {}
      },
      "id": "ae9a6e4a-5832-4824-8a91-e44dc3e13917",
      "name": "Respond to Chat",
      "type": "@n8n/n8n-nodes-langchain.chat",
      "position": [
        2832,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "task-executor-mcp-endpoint"
      },
      "id": "9edecb85-cc2a-4034-9cf1-56e8082bbf55",
      "name": "MCP Server Executor",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        -592,
        956
      ],
      "webhookId": "task-executor-mcp-endpoint",
      "typeVersion": 2
    },
    {
      "parameters": {
        "description": "Get list of all available MCP tools for task planning",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "aVdyMV0AxIk92VwD",
          "cachedResultUrl": "/workflow/aVdyMV0AxIk92VwD",
          "cachedResultName": "list-tool-service-trigger"
        },
        "workflowInputs": {
          "value": {},
          "mappingMode": "defineBelow"
        }
      },
      "id": "c7bf97f2-6f67-491e-b87a-0147ffd09508",
      "name": "List Available Tools",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -592,
        748
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:6789/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -240,
        388
      ],
      "id": "061ccf20-9f5c-46a6-9c93-5854e1db123a",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "description": "Format final JSON response for task execution results",
        "workflowId": {
          "__rl": true,
          "mode": "manual",
          "value": "format-json-response-trigger"
        },
        "workflowInputs": {
          "value": {
            "task_description": "={{ $parameter.task_description }}",
            "task_input": "={{ $parameter.task_input }}",
            "task_tool": "={{ $parameter.task_tool }}",
            "task_output": "={{ $parameter.task_output }}",
            "task_status": "={{ $parameter.task_status }}",
            "task_id": "={{ $parameter.task_id }}"
          },
          "mappingMode": "defineBelow"
        }
      },
      "id": "9c06f11b-1e13-45c3-8039-702703f2152a",
      "name": "Format Final JSON Response",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -592,
        540
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1728,
        304
      ],
      "id": "694b4f49-083c-40a4-b027-4a54ac8a7090",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "let finalResponse = {}\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  finalResponse = {...finalResponse, ...item.json }\n}\nreturn {...finalResponse};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        304
      ],
      "id": "55ca2daf-bc6a-481c-a7d8-b30cbf10e2ed",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Task Planner Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Planner Agent": {
      "main": [
        [
          {
            "node": "Task Dependency Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task List Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Task Planner Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Qwen2.5 Task Planner": {
      "ai_languageModel": [
        [
          {
            "node": "Task Planner Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Task Dependency Resolver": {
      "main": [
        [
          {
            "node": "Check Ready Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Ready Tasks": {
      "main": [
        [
          {
            "node": "Process Ready Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Final Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Ready Task": {
      "main": [
        [
          {
            "node": "Task Executor Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Task Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Task Executor Agent": {
      "main": [
        [
          {
            "node": "Merge Task Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Task Results": {
      "main": [
        [
          {
            "node": "Update Task Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Executor": {
      "ai_tool": [
        [
          {
            "node": "Task Executor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Task Result Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Task Executor Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Qwen2.5 Task Executor": {
      "ai_languageModel": [
        [
          {
            "node": "Task Executor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Task Registry": {
      "main": [
        [
          {
            "node": "Check More Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check More Tasks": {
      "main": [
        [
          {
            "node": "Check Ready Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Final Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Results": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Response Synthesis Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Response Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "Qwen2.5 Response Synthesis": {
      "ai_languageModel": [
        [
          {
            "node": "Response Synthesis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Task Planner Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Response Synthesis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6db898eb-778d-422a-bba3-43b2215406fc",
  "meta": {
    "instanceId": "45c417bac78415cc82936bcd15e18b8c6e14faf1263d26de9f0ef5352823a723"
  },
  "id": "9W6JbgefZiGi1Ok5",
  "tags": []
}