n8n-node-jsons/task-builder-workflow/test-workflow.json
{
  "name": "test-workflow",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "id": "ddcb89fb-2742-4a5c-a38f-e14fad5ad7ec",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        128,
        208
      ],
      "webhookId": "task-builder-chat-trigger",
      "typeVersion": 1.3,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a Task Planning AI Agent.\n\nYour workflow:\n1. FIRST: Call the 'mcp__list_tools' tool to discover available tools\n2. ANALYZE: Review the complete list of tools from the response\n3. PLAN: Analyze the user's request and determine which tools to use\n4. RESPOND: Provide a complete response that includes:\n   - Summary of available tools discovered\n   - Your task plan as a JSON object\n\nThe task plan JSON format:\n{\n  \"tasks\": [\n    {\n      \"tool\": \"exact_tool_name\",\n      \"task_description\": \"what this task does\",\n      \"task_input\": {\n        \"param_name\": \"param_value\"\n      },\n      \"dependencies\": [],\n      \"task_id\": \"task_1\"\n    }\n  ]\n}\n\nRules:\n- ALWAYS call mcp__list_tools first before creating any plan\n- Use exact tool names from the MCP response\n- task_input contains the tool's required parameters\n- dependencies is an array of task_id strings (empty array [] if no dependencies)\n- Each task needs a unique task_id like \"task_1\", \"task_2\"\n- ALWAYS provide a complete response explaining what tools were found and your plan\n- Never return an empty response - always explain what you found and what you're planning\n\nExample response format:\n\"I discovered the following tools: [list tools]. Based on your request to [user request], here is my task plan:\n[JSON task plan]\"",
          "maxIterations": 10
        }
      },
      "id": "5626886c-cce6-45dc-8b07-bd3d9235965f",
      "name": "Task Planner Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        352,
        208
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": "Qwen2.5:latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "a23f24ac-4ccc-432a-9f9e-4d4c970376d7",
      "name": "Qwen2.5 Task Planner",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        288,
        400
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "5xLoLXEjNmerrDm4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://172.17.0.1:6789/mcp",
        "serverTransport": "httpStreamable",
        "include": "selected",
        "includeTools": [
          "listTools"
        ],
        "options": {}
      },
      "id": "d49fe9b8-619c-4b00-9cc7-bae05bd8045c",
      "name": "MCP List Tools Client",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        576,
        416
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "message": "=Response: {{$json.output}}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        704,
        208
      ],
      "id": "120ebb05-1615-4911-9979-00caf7abf84b",
      "name": "Respond to Chat"
    }
  ],
  "pinData": {},
  "connections": {
    "Qwen2.5 Task Planner": {
      "ai_languageModel": [
        [
          {
            "node": "Task Planner Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP List Tools Client": {
      "ai_tool": [
        [
          {
            "node": "Task Planner Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Task Planner Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Planner Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bfce884c-9e0a-425e-b88f-4a827d6fbffb",
  "meta": {
    "instanceId": "e48c4a814881b1418af800a3fbbed8290840cab10cff0b5b090957237a9c47f1"
  },
  "id": "MHxKZOYCTDFabDzf",
  "tags": []
}